@font-face {
    font-family: 'dana-regular';
    src: url('./fonts/dana/dana-regular.woff') format('woff'); /* Path to your font file */
    
  }
  @font-face {
    font-family: 'iran-nastalig';
    src: url(./fonts/IranNastaliq.woff) format('woff');
  }
  body {
    font-family: 'dana-regular', sans-serif; /* Applying the custom font */
    width: 99%;
    max-width: 1380px;
  margin: 2px auto;
  background-color: antiquewhite;
  border: solid 1px black;
  }
  html {
    scroll-behavior: smooth;
  }
  .first-container {
    background-image: url(./img/monument-6824052_1280.jpg);
    height: 590px;
    padding: 10px;
    min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border-radius: 2px;
  }
  /* navbar */
  .navbar {
    display: flex;
    padding-right: 10px;
    padding-top: 5px;
    background-color:antiquewhite;
    box-shadow:0 3px 10px rgb(0 0 0 / 0.2);

}
.logo img {
  width: 30px;
}

.nav-links {
    display: flex;
    list-style-type: none;
  
}
.nav-links a {
  color: black;
  text-decoration: none;

}
.nav-links a:hover {
  text-decoration: underline;
  color: blue;
}
.nav-links li {
    margin: 0 15px;
  
}

  .nastalig {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 90px;
    cursor:default;
  }
  .nastalig p {
    font-family:'iran-nastalig';
    font-size: 80px;
  }
  .nastalig span {
  font-family: dana-regular;
  font-size: 30px;
  color:red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  /* explanation */
  .explanation {
    margin: 20px;
  }
  .explanation h2 {
font-size: 30px;
  }
  .container-exp {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    flex: 1;
    padding: 20px;
    margin: 10px;
  }
  .column img {
    width: 75%;
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
  /* png maker */
  .container-png {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column-png {
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: center;
    
  }
  .column-png img {
    width: 40%;
  }
  .column-png button {
    background-color: blue;
    border: solid black 2px;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;

  }
  .column-png button:hover{
    background-color: aliceblue;
    color: black;
  }
  @media (max-width:600px) {
    .container-png {
    flex-direction: column-reverse;
    }
    
  }
  @media (max-width: 600px) {
    .column-png {
      flex: 100%;
    }
  }
  /* group */
  .container-group {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .column-group {
    flex: 1;
    padding: 20px;
    margin: 10px;
  }
  .column-group img {
    width: 50%;
    object-fit: contain;
  }
  
  @media (max-width: 600px) {
    .column-group {
      flex: 100%;
    }
  }
  
  /* profiles */
  .profiles {
    margin: 20px;
  }
  .container-prof {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column2 {
    flex: 19%;
    padding: 5px;
    background-color:white;
    box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    width: 100px;
    margin: 5px;
    text-align: center;
    line-height: 20px;
    transition: transform 1s, filter 3s ease-in-out;
  }
  .column2 img {
    width: 110px;
    border-radius: 50%;
  }
  .column2:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .column2 {
      flex: 100%;
    }
  }
/* footer */
footer {
  background-color: cornflowerblue;
  
}
.container-footer {
  display: flex;
  flex-wrap: wrap;
}

.column-footer {
  flex: 1;
  padding: 10px;
  margin: 5px;
  line-height: 20px;
}
.column-footer a {
  color: antiquewhite;
  text-decoration: none;
}
.column-footer a:hover {
  color: red;
}

@media (max-width: 600px) {
  .column-footer {
    flex: 100%;
  }
}
