@font-face {
    font-family: 'dana-regular';
    src: url('./fonts/dana-regular.woff') format('woff'); /* Path to your font file */
    
  }
  @font-face {
    font-family: 'iran-nastalig';
    src: url(./fonts/IranNastaliq.woff) format('woff');
  }
  @font-face {
    font-family:'Rage-Italic';
    src: url(./fonts/rage.woff);
  }
  body {
    font-family: 'dana-regular', sans-serif; /* Applying the custom font */
    width: 100%;
    max-width: 1380px;
  margin:  auto;
  background-color: var(--body);
      box-shadow:0 3px 10px rgb(0 0 0 / 0.2);

  }
  :root {
    --body: rgb(136, 210, 240);
   --yellow:yellow;
   --yellowhead : yellow;
   --black:black;
--white: white;
--footer:rgb(67, 148, 180)
  }
  .dark-theme {
    --body:black;
    --yellowhead : white;
    --yellow:red;
    --black:white;
    --white:darkgray;
    --footer:darkgray;
  }
  html {
    scroll-behavior: smooth;
  }
  
  .first-container {
    background-image: url(./img/gif.gif); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center ;
    padding: 10px;
    height:590px;
    }
    @media (mix-width:601px) {
    .first-container {
    background-position: left;
       }
       .dark-theme.first-container {
        background-image: url(./img/gif2.gif);
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      }
     }
  
      
  /* navbar */
  .navbar {
    display: flex;
justify-content: space-between;
}
.logo img {
  width: 35px;
}
.navbar img {
  width: 35px;
}

.navbar img:hover{
  cursor: pointer;
}


.nav-links {
    display: flex;
    list-style-type: none;
  
}
.nav-links a {
  color: var(--yellowhead);
  text-decoration: none;
  font-size: 25px;

}
.nav-links a:hover {
  color: red;
}
.nav-links li {
    margin: 0 10px;
  
}
  .nastalig {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 90px;
    cursor:default;

  }
  .nastalig p {
    font-family:'iran-nastalig';
    font-size: 80px;
    color: var(--yellowhead);
 
  }

    
  .nastalig span {
  font-family: dana-regular;
  font-size: 30px;
  color:var(--yellowhead);
  }

  /* explanation */
  .explanation {
    margin: 20px;

  }
  .explanation h2 {
font-size: 30px;
color: var(--black);
  }
  .container-exp {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    line-height: 40px;

  }
  .column p {
    color: var(--black);
  }
  .column img {
    width: 90%;
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
  /* png maker */
  .container-png {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column-png {
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: center;
    
  }
  .column-png h2 {
    color: var(--black);
  }
  .column-png img {
    width: 50%;
  }
  .column-png button {
    background-color: var(--footer);
    border: solid black 2px;
    padding: 10px;
    border-radius: 5px;
    color: antiquewhite;
    margin-top: 10%;

  }
  .column-png button:hover{
    background-color: white;
    color: black;
  }
  @media (max-width:600px) {
    .container-png {
    flex-direction: column-reverse;
    }
    
  }
  @media (max-width: 600px) {
    .column-png {
      flex: 100%;
    }
  }
  /* group */
  .container-group {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .column-group {
    flex: 1;
    padding: 20px;
    margin: 10px;
    line-height: 40px;
  }
  .column-group h2 {
    color: var(--black);
  }
  .column-group p {
    color: var(--black);
  }
  .column-group img {
    width: 50%;
    object-fit: contain;
  }
  
  @media (max-width: 600px) {
    .column-group {
      flex: 100%;
    }
  }
  
  /* profiles */
  .profiles {
    margin: 20px;
  }
  .profiles h2 {
    color: var(--black);
  }
  .container-prof {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column2 {
    flex: 19%;
    padding: 5px;
    background-color:var(--white);
    box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    width: 100px;
    margin: 5px;
    text-align: center;
    line-height: 20px;
    transition: transform 1s, filter 3s ease-in-out;
  }
  .column2 img {
    width: 110px;
    border-radius: 50%;
  }
  .column2:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .column2 {
      flex: 100%;
    }
  }
/* footer */
footer {
  background-color: var(--footer);
  
}
.container-footer {
  display: flex;
  flex-wrap: wrap;
}

.column-footer {
  flex: 1;
  padding: 10px;
  margin: 5px;
  line-height: 20px;
}
.column-footer a {
  color: darkblue;
  text-decoration: none;
}
.column-footer a:hover {
  color: red;
}

@media (max-width: 600px) {
  .column-footer {
    flex: 100%;
  }
}
